*{
    margin: 0;
    padding: 0;
}

.inner_c{
    width: 1300px;
    margin: 0 auto;
}

body{
    font-size: 18px;
}

.btn{
    display: block;
    padding: 10px 20px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #2DA671;
    border-radius: 5px;
}

.front{
    width: 1300px;
    margin: 0 auto;
    background-color: #0261B3;
}

.front table{
    padding: 5px 30px 5px 30px;
    width: 100%;
}

.front .left{
    float: left;
    font-size: 25px;
}

.front .right{
    margin: 0;
    border: 0;
    padding: 0;
    float: right;
}

.mid{
    width: 1300px;
    height: 53px;
    opacity: 0.9;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 auto;
    background-color: #E6E6E6;
}

.mid .nav{
    width: 980px;
    margin: 0 auto;
}

.mid ul{
    list-style: none;
}

.mid ul li{
    width: 140px;
    float: left;
    text-align: center;
    line-height: 53px;
}

.mid ul li a{
    font-size: 20px;
    color: #8c8c8c;
    /*撑高*/
    height: 53px;
    text-decoration: none;
}

.mid ul li a:hover{
    color: white;
}

.info{
    height: 400px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: white;
}

.info ul{
    list-style: none;
}

.info ul .li_pic{
    float: left;
}

.info ul .li_wd{
    float: left;
}

.info .pic{
    float: left;
}

.info .pic a img{
    display: block;
}

.harbour{
    float: left;
    width: 322px;
    margin-left: 20px;
}

.harbour ul{
    list-style: none;
    padding-left: 20px;
}

.harbour ul li{
    height: 50px;
}

.harbour ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.foot{
    width:100%;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: white;
}

.foot .pic{
    float: left;
}

.foot .pic a img{
    display: block;
}

.foot .ls {
    float: left;
    width: 1068px;
    height: 350px;
}

.foot .ls ul{
}

.foot .ls ul li{
    float: left;
    width: 250px;
    padding-left: 14px;
    list-style: none;
}

.foot .ls ul li .frame{
    width: 250px;
    height: 172px;
    padding-left: 2px;
    border-radius: 5px;
    border: 1px solid grey;
    margin-bottom: 2px;
}

.foot .ls ul li .frame .a_pic{
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding-top: 20px;
}

.foot .ls ul li .frame .a_wd{
    display: block;
    width: 90px;
    line-height: 24px;
    margin: 0 auto;
}

.bottom{
    width: 1200px;
    margin: 0 auto;
}

.bottom table{
    padding: 5px 30px 5px 30px;
    width: 100%;
    margin: 0 auto;
}

.bottom table thead{
    text-align: center;
}

.bottom table thead tr{
    line-height: 40px;
    font-size: 20px;
    background-color: #E6E6E6;
}

.bottom table tbody{
    margin-top: 10px;
    text-align: center;
}

.bottom table tbody tr{
    line-height: 30px;
    font-size: 15px;
}

.bottom .links{
    padding-bottom: 20px;
}

.bottom .links table{
    padding: 5px 30px 5px 30px;
    width: 100%;
    margin: 0 auto;
}

.bottom .links table thead{
    text-align: center;
}

.bottom .links table thead tr{
    line-height: 40px;
    font-size: 20px;
    background-color: #E6E6E6;
}

.bottom .links table thead tr td{
    width: 225px;
}

.down_navi{
    padding: 5px 30px 5px 30px;
    margin: 0 auto;
}

.down_navi ul{
    list-style: none;
    padding-left: 87px;
}

.down_navi .down_logo{
    float: left;
    padding-right: 30px;
}

.down_navi .down_text{
    float: left;
    padding-top: 6px;
}

.down_text p{
    font-size: 15px;
}