.content{
    padding-top: 50px;
    overflow: hidden;
}
.content .up{
    border-bottom: 1px solid #DBE1E7;
}
.content .up ul{
    list-style: none;
    height: 280px;
}
.content .up ul li{
    float: left;
    margin-right: 120px;
}
.content .up ul li h3{
    text-align: center;
    line-height: 40px;
    font-size: 18px;
}

.content .up ul li.last{
    margin-right: 0;
}
.content .up ul li p.djjr{
    text-align: center;
}
.content .up ul li p.djjr a{
    text-decoration: none;
    line-height: 16px;
    color: #2DA671;
    padding-left: 15px;
    padding-right: 15px;
    background: url("../image/jt.jpg") right center no-repeat;
}

.content .mid{
    padding-top: 50px;
    padding-bottom: 30px;
    overflow: hidden;
    border-bottom: 1px solid #DBE1E7;
}
.content .mid .left{
    float: left;
    padding-right: 1%;
    width: 49%;
}
.content .mid .top{
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    background: url("../image/bgc1.jpg") center no-repeat;
}
.content .mid .top .blogs{
    padding-top: 4px;
    padding-left: 4px;
    /*position: absolute;*/

}
.content .mid .top .blogs a{
    /*position: absolute;*/
}
.content .mid .top .blogs a img{
    float: left;
}
.content .mid .top .blogs a p{
    font-size: 30px;
    padding-left: 5px;
    padding-top: 12px;
    line-height: 50px;
    float: left;
}
.content .mid .top .more{
    right: 20px;
    top: 25px;
    bottom: 25px;
    border: 2px solid #0F6FBB;
    border-radius: 5px;
    padding-right: 5px;
    position: absolute;
}
.content .mid .top .more a{
    line-height: 35px;
    padding-left: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #0F6FBB;
    float: left;
}
.content .mid .top .more p{
    float: left;
    font-size: 20px;
    color: #0F6FBB;
}
.content .mid .info{
    padding-top: 20px;
}
.content .mid .info li a{
    font-size: 18px;
    color: #818496;
    text-decoration: none;
    line-height: 40px;
}
.content .mid .right{
    float: left;
    padding-left: 1%;
    width: 49%;
}
.content .mid .right .info li{
    list-style: none;
}
.content .down{
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}
.content .down .friendlink{
    padding-top: 10px;
    line-height: 25px;
}
.content .down .friendlink a{
    text-decoration: none;
    color: #818496;
}